<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.thymeleaf.org ">>
<head>
  <title>ImageShare</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../static/css/style.css" type="text/css">
</head>
  <body>
    <div th:fragment="navbar" class="topnav">
      <a class="active" href="index">Startseite</a>
      <a href="register">Registrieren</a>
      <a href="login">Login</a>
    </div>
  </body>
</html>