<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="de">

<head>
    <title>ImageShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
<div th:insert="~{/fragments/topnavbarLog:: navbar}"></div>
<div>

        <form class="middle" action="/dashboard" method="post">
            <input type="text" placeholder="Title" id="title" name="title">

            <input type="date" id="datum1" name="datum1">

            <input type="date" id="datum2" name="datum2">

            <select style="width: 210px;" id="kategorie" name="kategorie">
                <option selected="selected" value="">Wähle eine Kategorie aus.</option>
                <option value="Tier">Tier</option>
                <option value="Kunst">Kunst</option>
                <option value="Abstrakt">Abstrakt</option>
                <option value="Auto">Auto</option>
                <option value="Keine">Keine</option>
            </select>

            <input type="submit" value="Suchen">
        </form>

    <div th:each="data : ${dataList}" class="middle">
        <a th:href="${data.bildname}"><img style="margin-bottom: 5px" id="" th:src="@{${data.bildpfad}}" alt="Fehler"></a>
        <div class="box">
            <h3 th:text="${data.title}"></h3>
            <p th:text="${data.beschreibung}"></p>
            <p class="box2" th:text="${data.kategorie}"></p>
            <h3></h3>
        </div>
    </div>
</div>

</body>
</html>