<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>ImageShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:insert="~{/fragments/topnavbarLog:: navbar}"></div>
<div>

    <form action="/dashboard" class="middle" method="post">
        <input id="title" name="title" placeholder="Title" type="text">

        <input id="datum1" name="datum1" type="date">

        <input id="datum2" name="datum2" type="date">

        <select id="kategorie" name="kategorie" style="width: 210px;">
            <option value="">Kategorie</option>
            <option value="Tier">Tier</option>
            <option value="Kunst">Kunst</option>
            <option value="Abstrakt">Abstrakt</option>
            <option value="Auto">Auto</option>
            <option value="Keine">Keine</option>
        </select>

        <input type="submit" value="Suchen">
    </form>

    <div class="middle" th:each="data : ${dataList}">
        <a th:href="${data.bildname}"><img alt="Fehler" id="" style="margin-bottom: 5px" th:src="@{${data.bildpfad}}"></a>
        <div class="box">
            <h3 th:text="${data.title}"></h3>
            <p th:text="${data.beschreibung}"></p>
            <p class="box2" th:text="${data.kategorie}"></p>
            <h3></h3>
        </div>
    </div>
</div>
</body>
</html>