<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>ImageShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:insert="~{${log}:: navbar}"></div>

<div class="middle" th:each="data : ${dataList}">
    <img alt="Fehler" id="" style="margin-bottom: 5px" th:src="@{${data.bildpfad}}">
    <div class="box">
        <h3 th:text="${data.title}"></h3>
        <p th:text="${data.beschreibung}"></p>
        <p class="box2" th:text="${data.kategorie}"></p>
        <h3></h3>
    </div>
</div>
</body>
</html>