<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>ImageShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div th:insert="~{fragments/topnavbar :: navbar}">  </div>

<form action="http://localhost:8080">
    <input type="file" value="Datei">
    <br>
    <select id="min" name="Zeit">
        <option value="1min">1min</option>
        <option value="5min">5min</option>
        <option value="10min">10min</option>
        <option value="Nie">Nie</option>
    <input type="submit" value="Hochladen">
</form>
</body>

</html>