<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>ImageShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<div th:insert="~{fragments/topnavbar :: navbar}">  </div>

<form class="middle" action="#" th:action="@{/index}" method="post">
    <br>
    <br>
    <h3>Wählen Sie eine Bild aus.</h3>
    <input type="file" value="Datei">
    <br>
    <br>
    <input type="text" placeholder="Title" id="title">
    <br>
    <textarea placeholder="Beschreibung" id="besch"></textarea>
    <br>
    <select id="kat">
        <option value="null">Wähle eine Kategorie aus.</option>
        <option value="tier">Tier</option>
        <option value="kunst">Kunst</option>
        <option value="abstrakt">Abstrakt</option>
        <option value="auto">Auto</option>
    </select>
    <select id="min">
        <option value="null">Wähle eine Zeit aus.</option>
        <option value="1min">1min</option>
        <option value="5min">5min</option>
        <option value="10min">10min</option>
        <option value="Nie">Nie</option>
    </select>
    <br>
    <input type="submit" value="Hochladen">
</form>
</body>

</html>