<html lang="de" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <title>ImageShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div th:insert="~{${log}:: navbar}"></div>

<form action="/index" class="middle" enctype="multipart/form-data" method="post">
    <br>
    <br>
    <h3>Wählen eine Bild aus.</h3>
    <input id="bildpfad" name="bildpfad" required type="file" value="bildpfad">
    <br>
    <br>
    <input id="title" name="title" placeholder="Title" type="text">
    <br>
    <textarea id="beschreibung" maxlength="250" name="beschreibung" placeholder="Beschreibung"></textarea>
    <br>
    <select id="kategorie" name="kategorie" required style="width: 210px;">
        <option value="">Kategorie</option>
        <option value="Tier">Tier</option>
        <option value="Kunst">Kunst</option>
        <option value="Abstrakt">Abstrakt</option>
        <option value="Auto">Auto</option>
        <option value="Keine">Keine</option>
    </select>
    <br>
    <select id="zeit" name="zeit" required style="width: 210px">
        <option value="">Automatisches Löschen</option>
        <option value="1">1min</option>
        <option value="5">5min</option>
        <option value="10">10min</option>
        <option value="99">Nie</option>
    </select>
    <br>
    <p class="box2" style="width: 206px; padding: 4px 0; font-size: 15px;margin-top:4px;"><input id="url" type="checkbox">Eigene URL</p>
    <div id="urldiv" style="display: none;">
        <input id="urltext" name="urltext" type="text">
    </div>
    <script>
        const box = document.getElementById("url");
        const ut = document.getElementById("urldiv");
        box.addEventListener('change', function () {
            if (this.checked) {
                ut.style.display = 'block';
            } else {
                ut.style.display = 'none';
            }
        });

    </script>
    <input type="submit" value="Hochladen">

</form>
</body>

</html>