<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org " lang="de">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/topnavbar :: navbar}"></div>


<form class="middle" method="post" action="/login">
    <br>
    <br>
    <h3>Login</h3>
    <div>

        <input type="text" id="username" class="form-control" name="username" placeholder="Benutzername" required>
    </div>
    <div>
        <input type="password" id="password" class="form-control" name="password" placeholder="Passwort" required>
    </div>


    <input type="submit" value="Anmelden" >
</form>
</body>
</html>